<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <script type="text/javascript">
      var user = "{{request.user}}";
    </script>
  </head>

  <!-- <body id="background">  -->
      <body style="background: linear-gradient(to right,#0e4b74, #375491, #a54e3d,#80500e );;">
         
    <header>
      <nav>
        <div class="logo">
          <img
            src="{% static 'applogo.png' %}"
            width="150"
            height="100"
            alt="Website Logo Placeholder"
          />
        </div>
        <div class="icon">
          <span class="toggle">☰</span>
        </div>
        <ul class="list-item">
          {% if request.user.is_superuser %}
          <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
          {% endif %} {% if request.user.is_authenticated %}
          <li><a href="{%  url 'categories' %}">Categories</a></li>
          <li><a href="{%  url 'products' None %}">Products</a></li>
          <li><a href="{%  url 'cart' %}">Cart</a></li>
          {% endif %} {% if request.user.is_authenticated is False%}
          <li><a href="{%  url 'signup' %}">Signup</a></li>
          <li><a href="{%  url 'login' %}">Login</a></li>
          {%endif%} {% if request.user.is_authenticated %}
          <li><a href="{%  url 'profile' %}">Hello, {{request.user}}</a></li>
          <li><a href="{%  url 'logout' %}">Logout</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock content %}

    <script type="text/javascript" src="{% static 'js/cart.js'%}"></script>
  </body>
</html>
