{% extends "base.html" %} {% block content %}<html>
  {% load static %}
  <head>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}" />
  </head>
  <body>
    <header>
      {% comment %}
      <div class="container">
        <nav>
          <div class="logo">
            <img
              src="{% static 'webLogo.svg' %}"
              alt="Website Logo Placeholder"
            />
          </div>

          <a href="{%  url 'products' %}">Products</a>
          <a href="#">Cart</a>
          <a href="{%  url 'signup' %}">Signup</a>
          <a href="{%  url 'login' %}">Login</a>
          <a href="#">Profile</a>
          <a href="{%  url 'logout' %}">Logout</a>
        </nav>
      </div>
      {% endcomment %}
    </header>
    <h2>Product Categories</h2>
    {%for category in categories %}
    <div class="product-box">
      <img class="product-image" src="{{ category.image }}" alt="Laptop" />
      <div class="product-name">{{ category.name }}</div>
      <a href="{% url 'products' category.name %}">
        <button class="view-products-btn">View Products</button></a
      >
    </div>
    {%endfor%}
  </body>
</html>
{% endblock content %}