{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        padding: 5px;
      }
      table {
        border-spacing: 15px;
      }
    </style>
  </head>
  <body>
    {% if successful %}
    <center><h1>Order Placed Successfully</h1></center>
    <h3>Transaction ID: {{order.transaction_id}}</h3>
    <h3>BU Code: {{order.buCode}}</h3>
    <h3>Date Ordered: {{ order.date_ordered }}</h3>
    <h3>Ordered Items: {{myitems|join:", "}}</h3>
    <h3>Order Cost: {{totalCost}}</h3>
  </body>
</html>
{%else %}
<center><h1>Order Unsucessful</h1></center>
<table>
  <thead>
    <tr>
      <th class="font-weight-bold py-2 border-0">Product</th>
      <th class="font-weight-bold py-2 border-0">Requested Quantity</th>
      <th class="font-weight-bold py-2 border-0">Available Quantity</th>
    </tr>
  </thead>
  <tbody>
    {%for i in item %}
    <td>{{ i.productName }}</td>
    <td>{{ i.requestedQuantity }}</td>
    <td>{{ i.availableQuantity }}</td>
    {%endfor%}
  </tbody>
</table>

{% endif %} {% endblock content %}
