{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        padding: 5px;
      }
      table {
        border-spacing: 15px;
      }
    </style>
  </head>
  <body>
    {% if successful %}
    <center style="margin-bottom: 7%; margin-top: 2%">
      <h1>
        Woohoo!!🎉<br />
        ✨Order Placed Successfully✨
      </h1>
    </center>
    <center>
      <table style="border: 1px solid black; text-align: center">
        <tr>
          <th>Transaction ID:</th>
          <td>{{order.transaction_id}}</td>
        </tr>
        <tr>
          <th>BU Code:</th>
          <td>{{order.buCode}}</td>
        </tr>
        <tr>
          <th>Date Ordered:</th>
          <td>{{ order.date_ordered }}</td>
        </tr>
        <tr>
          <th>Ordered Items:</th>
          <td>{{myitems|join:", "}}</td>
        </tr>
        <tr>
          <th>Order Cost:</th>
          <td>{{totalCost}}</td>
        </tr>

        <!-- <center><h1>Order Placed Successfully</h1></center> -->
        <!-- <h3>Transaction ID: {{order.transaction_id}}</h3>
    <h3>BU Code: {{order.buCode}}</h3>
    <h3>Date Ordered: {{ order.date_ordered }}</h3>
    <h3>Ordered Items: {{myitems|join:", "}}</h3>
    <h3>Order Cost: {{totalCost}}</h3> -->
      </table>
    </center>
  </body>
</html>
{%else %}
<center style="margin-bottom: 7%; margin-top: 2%">
  <h1>
    Insufficient Items in inventory<br />
    ❗Order Unsuccessful❗
  </h1>
</center>
<center>
  <table>
    <thead>
      <tr>
        <th class="font-weight-bold py-2 border-0">Product</th>
        <th class="font-weight-bold py-2 border-0">Requested Quantity</th>
        <th class="font-weight-bold py-2 border-0">Available Quantity</th>
      </tr>
    </thead>
    <tbody>
      {%for i in item %}
      <td>{{ i.productName }}</td>
      <td>{{ i.requestedQuantity }}</td>
      <td>{{ i.availableQuantity }}</td>
      {%endfor%}
    </tbody>
  </table>
</center>

{% endif %} {% endblock content %}
