{% extends "base.html" %} {% block content %}<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/products.css' %}"
    />
  </head>
  <body>
    <section>
      <div class="container">
        <h2>{{cat}}</h2>
        <div class="product-grid">
          {% for product in products%}
          <div class="product">
            <img
              src="{{ product.image }}"
              alt="Photo of {{ product.productName }}"
              width="350"
              height="350"
            />
            <h3>Product Name: {{product.productName}}</h3>
            <h4>Price: ₹{{product.price}}</h4>
            <p>Features: {{product.description}}</p>
            <button
              data-product="{{product.id}}"
              data-action="add"
              class="update-cart"
            >
              Add to Cart
            </button>
          </div>
          {%endfor%}
        </div>
      </div>
    </section>
    <footer>
      <div class="container"></div>
    </footer>
  </body>
</html>
{% endblock content %}
